body, html{

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
header{
    width: 100%;
    background-color: #fff;
    top: 0;
    z-index: 1000;
    padding: 0px 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.logo{
    align-items: center;
    justify-content: flex-start;
}
  
.logo img{
    height: 120px;
    width: 120px;
}
.navbar{
    list-style: none;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}
.navbar-item a{
    color: #c3a97f;
    text-decoration:none;
    padding: 10px;
    justify-content: flex-end;
}
.navbar-item a:last-child{
    margin-right: 40px;
  
}
#navbar-container.hidden{
    top:-100px;
    transition: top 0.5s ease;
}
  
a:hover{
    color: #894c28;
    cursor: pointer;
}

 /** estilos formulario regis**/

.registration-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:focus {
    border-color: #007BFF; /* Color de borde al enfocar */
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #c3a97f;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #e4ae58; /* Color de fondo al pasar el mouse */
}

/** estilos footer**/
.footer {
  bottom: 0;
  background-color: #ffffff;

  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.footer-content {  
  display: flex;
  align-items: center; 
  justify-content: space-between; 
}

.footer-logo {
  width: 200px; 
  height: auto; 
}

.footer-text {
  text-align: right; 
  color: #894c28;
}

