body, html{
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 98%;
    background-color: #fff;
    top: 0;
    z-index: 1000;
    padding: 0px 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.logo{
    align-items: center;
    justify-content: flex-start;
}
  
.logo img{
    height: 120px;
    width: 120px;
}
.navbar{
    list-style: none;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}
.navbar-item a{
    color: #c3a97f;
    text-decoration:none;
    padding: 10px;
    justify-content: flex-end;
}
.navbar-item a:last-child{
    margin-right: 40px;
  
}
#navbar-container.hidden{
    top:-100px;
    transition: top 0.5s ease;
}
  
a:hover{
    color: #894c28;
    cursor: pointer;
}

/** estilos servicios **/

.hotel {
    background-color: #fffff7d2;
    padding: 40px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    display: flex;
   
}
.hotel-container {
    display: flex;
    width: 100%;
}
  
.htl-txt {
    flex: 1;
    padding-right: 20px;
}
  
.htl-txt h2 {
    font-size: 28px;
    color: #894c28;
    margin-bottom: 20px;
  
}
  
.htl-txt p {
    font-size: 16px;
    color: #894c28;
    line-height: 1.6;
}
  
.htl-img {
    flex: 0 0 40%; /* ajusta el tamaño de la imagen */
}
  
.htl-img img {
    float: right;
    width: 450px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.training {
    background-color: #c3a97f;
    padding: 40px;
    margin: 10px auto;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    display: flex;
   
}
.trng-container {
    display: flex;
    width: 100%;
}
  
.trng-txt {
    flex: 1;
    padding-right: 20px;
}
  
.trng-txt h2 {
    font-size: 28px;
    color: #fff;
    margin-bottom: 20px;
  
}
  
.trng-txt p {
    font-size: 16px;
    color: #fff;
    line-height: 1.6;
}
  
.trng-img {
    flex: 0 0 40%; /* ajusta el tamaño de la imagen */
}
  
.trng-img img {
    float: right;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.grooming {
    background-color: #fffff7d2;
    padding: 40px;
    margin: 10px auto;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    display: flex;
   
}
.grmn-container {
    display: flex;
    width: 100%;
}
  
.grmn-txt {
    flex: 1;
    padding-right: 20px;
}
  
.grmn-txt h2 {
    font-size: 28px;
    color: #894c28;
    margin-bottom: 20px;
  
}
  
.grmn-txt p {
    font-size: 16px;
    color: #894c28;
    line-height: 1.6;
}
  
.grmn-img {
    flex: 0 0 40%; /* ajusta el tamaño de la imagen */
}
  
.grmn-img img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/** estilos footer**/
.footer {
    bottom: 0;
    background-color: #ffffff;
  
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}
  
.footer-content {  
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}
  
.footer-logo {
    width: 200px; 
    height: auto; 
}
  
.footer-text {
    text-align: right; 
    color: #894c28;
}
  